<footer>
    <h3 style="color:white;">GPF1</h3>

    <p style="color:gray; font-size:0.9rem;">&copy; {{ "now"|date("Y") }} - Tous droits réservés.</p>

    <div style="margin-top:20px;">
        <a href="#" style="color:white; margin:0 10px;"><i class="fa-brands fa-discord"></i></a>
        <a href="#" style="color:white; margin:0 10px;"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" style="color:white; margin:0 10px;"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>